@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.main-container {
  text-align: center;
  margin: 2em;

  h6 {
    color: #6e7079;
  }

  @include media-breakpoint-down(md) {
    margin: 1em;
  }
}
