@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.cmc-chart-range-container {
  width: 90%;
  margin: auto;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}